# Hierarchical Clustering

Hierarchical clustering is an unsupervised learning algorithm that builds a hierarchy of clusters by either:
* Agglomerative (Bottom-Up): Start with each point as its own cluster and merge similar clusters.
* Divisive (Top-Down): Start with one cluster and recursively split it

## 1. Agglomerative Clustering (Bottom - Up)

**Steps:**
1. Start with each data point as its own cluster (n clusters).
2. Find the two closest clusters.
3. Merge them into a single cluster.
4. Repeat steps 2-3 until only one cluster remains.

![](https://miro.medium.com/0*848julTIRU1JZYft)

## 2. Divisive Clustering (Top - Down)


**Steps:**
1. Start with all data points in one cluster.
2. Split the cluster into two sub-clusters.
3. Recursively split sub-clusters.
4. Continue until each point is its own cluster.

Note: Agglomerative is more commonly used due to better computational efficiency.

![](https://dataaspirant.com/wp-content/uploads/2020/12/17-Hierarchical-Divisive-Clustering-1024x761.png)

## Linkage Methods

Linkage methods define how to measure distance between clusters.

#### a. Single Linkage (Minimum)

Distance = minimum distance between any two points in different clusters

#### b. Complete Linkage (Maximum)

Distance = maximum distance between any two points in different clusters

#### c. Average Linkage

- Distance = average distance between all pairs of points
- Balanced approach between single and complete linkage methods


#### d. Ward's Method

- Minimizes the variance within clusters
- Tends to create equal-sized clusters

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import AgglomerativeClustering

In [6]:
df_titanic = pd.read_csv("./data/titanic_cleaned.csv")
df_titanic.head()

,Survived,Pclass,Sex,Age,Siblings,Parents,Fare,Embarked_Q,Embarked_S
0,0,3,0,22,1,0,7.2500,False,True
1,1,3,1,26,0,0,7.9250,False,True
2,1,1,1,35,1,0,53.1000,False,True
3,0,3,0,35,0,0,8.0500,False,True
4,0,3,0,29,0,0,8.4583,True,False

In [8]:
X_titanic = df_titanic.drop('Survived', axis=1).values
y_titanic = df_titanic['Survived'].values


scaler_titanic = StandardScaler()
X_titanic_scaled = scaler_titanic.fit_transform(X_titanic)

print(f"Features Shape: {X_titanic_scaled.shape}")

Features Shape: (775, 8)

In [11]:
hierarchical_titanic = AgglomerativeClustering(n_clusters=4, linkage='ward')
titanic_clusters = hierarchical_titanic.fit_predict(X_titanic_scaled)

df_titanic['Cluster'] = titanic_clusters

print("Cluster Distribution")
print(df_titanic['Cluster'].value_counts().sort_index())
print("Survival Rate by Cluster:")
print(df_titanic.groupby('Cluster')['Survived'].mean())

Cluster Distribution
Cluster
0    545
1     49
2    111
3     70
Name: count, dtype: int64
Survival Rate by Cluster:
Cluster
0    0.311927
1    0.163265
2    0.504505
3    0.414286
Name: Survived, dtype: float64

In [12]:
df_titanic.head()

,Survived,Pclass,Sex,Age,Siblings,Parents,Fare,Embarked_Q,Embarked_S,Cluster
0,0,3,0,22,1,0,7.2500,False,True,0
1,1,3,1,26,0,0,7.9250,False,True,0
2,1,1,1,35,1,0,53.1000,False,True,2
3,0,3,0,35,0,0,8.0500,False,True,0
4,0,3,0,29,0,0,8.4583,True,False,3

In [13]:
# Perform Divisive Clustering in the dataset.